<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB Filters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/4-common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/6-filters.css') }}">
</head>
<body>
    <header class="clearfix">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="HBNB logo">
            <h1>HBNB</h1>
        </div>
    </header>
    <section class="filters">
        <div class="cities">
            <h3>States</h3>
            <ul>
                {% for state in states %}
                <li>{{ state.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="cities">
            <h3>Cities</h3>
            <ul>
                {% for city in cities %}
                <li>{{ city.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="amenities">
            <h3>Amenities</h3>
            <ul>
                {% for amenity in amenities %}
                <li>{{ amenity.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <footer class="clearfix">
        <p>Holberton School</p>
    </footer>
</body>
</html>
